<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caul.android.togetherclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:name="com.caul.android.application.CaulApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.caul.android.togetherclient.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 配置跳转activity -->
        <activity
            android:name=".swim.SwimActivity"
            android:label="@string/title_swim" >
        </activity>
        <activity
            android:name=".pinche.PincheActivity"
            android:label="@string/title_pinche" >
        </activity>
        <activity android:name=".logon.LogonActivity"
            android:label="@string/title_logon"></activity>
    </application>

</manifest>